<body>
    <h1 "Biggest Gap between User and Critic"/>
    <table>
    <thead>
        <tr>
            <td>title</td>
            <td>UserRating</td>
            <td>CriticRating</td>
            <td>Budget</td>
            <td>WorldGross</td>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Bohemian Rhapsody</td>
            <td>7.9</td>
            <td>4.9</td>
            <td>$52,000,000 (estimated)</td>
            <td>$911,100,727</td>
        </tr>
    </tbody>    
    
    </table>
</body>