{% with messages = get_flashed_messages() %}
{% if messages %} 
<script> 
    alert("{{messages[0]}}") 
</script> 
{% endif %} 
{% endwith %}

{% extends "_base.html" %}

{% block title %}최신 해외 수상작 추천 서비스{% endblock %}



{% block css %}

<!-- <link rel=" shortcut icon" href="../static/favicon-library.ico">
<link rel="icon" href="../static/favicon-library.ico"> -->
{% endblock %}


{% block content %}
<br>
<img src="https://c.tenor.com/s-TpetY57k0AAAAC/oscar-oscars.gif" style="margin-left: auto; margin-right: auto; display: block;">
<br>
<h5>The Academy Awards, popularly known as the Oscars, are awards for artistic and technical merit in the film industry. They are regarded as the most prestigious and significant awards in the entertainment industry worldwide. Given annually by the Academy of Motion Picture Arts and Sciences (AMPAS), the awards are an international recognition of excellence in cinematic achievements, as assessed by the Academy's voting membership. The various category winners are awarded a copy of a golden statuette as a trophy, officially called the "Academy Award of Merit", although more commonly referred to by its nickname, the "Oscar". The statuette depicts a knight rendered in the Art Deco style.</h5>

<div class = "ui-grid-b ui-responsive">

    <form method="post">
        <button class="ui-block-a"><a href="/years/{{ 2010 }}" class="ui-btn ui-shadow ui-corner-all">2010</a></button>
        <button class="ui-block-a"><a href="/years/{{ 2011 }}" class="ui-btn ui-shadow ui-corner-all">2011</a></button>
        <button class="ui-block-a"><a href="/years/{{ 2012 }}" class="ui-btn ui-shadow ui-corner-all">2012</a></button>
        <button class="ui-block-a"><a href="/years/{{ 2013 }}" class="ui-btn ui-shadow ui-corner-all">2013</a></button>
        <button class="ui-block-a"><a href="/years/{{ 2014 }}" class="ui-btn ui-shadow ui-corner-all">2014</a></button>
        <button class="ui-block-a"><a href="/years/{{ 2015 }}" class="ui-btn ui-shadow ui-corner-all">2015</a></button>
        <button class="ui-block-a"><a href="/years/{{ 2016 }}" class="ui-btn ui-shadow ui-corner-all">2016</a></button>
        <button class="ui-block-a"><a href="/years/{{ 2017 }}" class="ui-btn ui-shadow ui-corner-all">2017</a></button>
        <button class="ui-block-a"><a href="/years/{{ 2018 }}" class="ui-btn ui-shadow ui-corner-all">2018</a></button>
        <button class="ui-block-a"><a href="/years/{{ 2019 }}" class="ui-btn ui-shadow ui-corner-all">2019</a></button>
        <button class="ui-block-a"><a href="/years/{{ 2020 }}" class="ui-btn ui-shadow ui-corner-all">2020</a></button>
        <button class="ui-block-a"><a href="/years/{{ 2021 }}" class="ui-btn ui-shadow ui-corner-all">2021</a></button>
    </form>
</div>
{% endblock %}

