<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>main</h1>
    <nav>
        <button><a href="/register">register</a></button>
        <button><a href="/login">login</a></button>
        <button><a href="/logout">logout</a></button>
        
        <button><a href="/favorites">like movie</a></button>
        <button><a href="/reviews">review movie</a></button>
    </nav>
    <div>
        <!-- <button><a href='{% url "detail"%}'>romance</a></button> -->
        <!-- datail페이지로 이동하기 위해서는 파라미터가 필요하다 (즉 api에서 모델을 쿼리문으로 가져와야 페이지 랜더링 가능!) -->
    </div>
    <container></container>
</body>
</html>