{% extends "_base.html" %}

{% block title %}영화 소개 페이지{% endblock %}

{% block css %}
<link rel=" shortcut icon" href="../static/favicon-library.ico">
<link rel="icon" href="/static/favicon-library.ico">
{% endblock %}

{% block content %}
<section class="container px-4 px-lg-5 my-5" style="width:1024px; margin: 0 auto;">
<div class="row gx-4 gx-lg-5 align-items-center" style="padding-top:30px;">
    <div style="flex: 0 0 auto; width:40%;">
        <img class="card-img-top mb-5 mb-md-0" src="{{ movie_detail.img_url }}" alt="{{ movie_detail.movie_name }}" />
    </div>
    <div class="col-md-6">
        <!-- 제목 (개봉연도) -->
        <h1 class="display-5 fw-bolder" style="font-size:32px;">{{ movie_detail.movie_name }} ({{ movie_detail.release_year }})</h1>
        
        <table>
            <tr>
                <th>수상연도</th>
                <td>{{ movie_detail.award_year }}</td>
            </tr>
            <tr>
                <th>오스카 상 이름</th>
                <td>{{ movie_detail.award_name1 }}  {{ movie_detail.award_name2 }}  {{ movie_detail.award_name3 }}</td>
            </tr>
            <tr>
                <th>Running Time</th>
                <td>{{ movie_detail.running_time }}</td>
            </tr>
            <tr>
                <th>Storyline</th>
                <td>{{ movie_detail.storyline }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ movie_detail.genre1 }}  {{ movie_detail.genre2 }}  {{ movie_detail.genre3 }}  {{ movie_detail.genre4 }}</td>
            </tr>
            <tr>
                <th>User Rating</th>
                <td style="margin-top:15px;">
                    {{ movie_detail.user_rating }}
                </td>
            </tr>
            <tr>
                <th>Critic Rating</th>
                <td style="margin-top:15px;">
                    {{ movie_detail.critic_rating }}
                </td>
            </tr>
        </table>
    </div>
</div>

<hr>
<!-- 댓글 작성하기 : 로그인된 유저만 -->
{% if session['user_email'] %}
<div class="row" style="margin:0 auto; padding-top:20px">
    <h2 style="font-size: 30px;">댓글</h2>
    <form method="post" class="" style="display:flex; margin-top:10px;">
        <div style="display:flex;">
            <textarea name="review" placeholder="댓글을 작성하세요" rows="2" cols="95%"></textarea>
        </div>
        <div style="display:flex; margin-left:10px;">
            <select name="rating">
                <option value="1">1점</option>
                <option value="2">2점</option>
                <option value="3">3점</option>
                <option value="4">4점</option>
                <option value="5">5점</option>
            </select>
            <input type="submit" value="확인" style="margin-left:5px;">
        </div>
    </form>
</div>

{% endif %}

<!-- 지금까지 작성된 댓글 보여주기 -->
<div class="row" style="margin:0 auto; padding-top:20px">
    {% for review in review_list %}
    <div class="all_review">
        <div>
            <span>{{ review.user_name }}</span>
            <span class="bar">|</span>
            <span>{{ review.write_time }}</span>
            <span class="bar">|</span>
            <span>
            {% for _ in range(review.rating) %}
                <img width="16" src="../static/img/star_fill.png">
            {% endfor %}
            {% for _ in range(5 - (review.rating)) %}
                <img width="16" src="../static/img/star_empty.png">
            {% endfor %}
            </span>
        </div>
        <div class="review_content" style="font-size:16px; margin-top:5px;">
            {{ review.content }}
        </div>
        <hr>
    </div>
    {% endfor %}
</div>



</section>

{% endblock %}