
{% block content %}

{% if book_list %}
<div method="post" class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-4 row-cols-xl-4 justify-content-center">
        {% for 영화 in 영화포스터리스트 %}
        <form method="post" class="col mb-5">
            <div class="card h-100">
                <div style="width:262px; height:262px; ">
                    <img class="poster-img-top" src="../{{ 영화포스터 디비 }}" alt="{{ 영화.영화제목 }}" style="display: block; width:70%; border-bottom: 0; margin: 0 auto; "/>
                </div>
                <div class="card-body p-4">
                    <div class="text-center">
                        <h5 id="book_name" class="fw-bolder" style="font-size: 18px;">
                            {{ 영화.영화제목 }}
                        </h5>
                    </div>
                </div>
                
            </div>
        </form>
        {% endfor %}
    </div>
</div>


{% endblock %}